.profile {
    width: 600px;
    border-left: 0.5px solid #EBEEF0;
    border-right: 0.5px solid #EBEEF0;
}

.profile__header {
    display: flex;
    align-items: center;
    height: 53px;
}

.profile__arrow {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin: 19px 38px 20px 19px;
}

.profile__name {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
}

.profile__span {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.profile__main_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
}

.profile__main_logo {
    width: 142px;
    height: 139px;
    z-index: 1;
    margin-left: 11px;
}

.profile__main_btn {
    width: 112px;
    height: 39px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #EBEEF0;
    border-radius: 100px;
    margin-right: 15px;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

.profile__main_btn:hover {
    cursor: pointer;
    background-color: #EBEEF0;
    transition: linear 0.3s;
}

.profile__main_subtitle {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.profile__main_name {
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    margin: 0;
}

.profile__main_login {
    color: #5B7083;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.profile__main_job {
    margin-bottom: 10px;
    color: #0F1419;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.profile__main_location {
    color: #5B7083;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.profile__main_data {
    padding-left: 9px;
    color: #5B7083;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.profile__main_following {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.profile__main_Followers {
    padding-left: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.profile__main-following_span {
    padding-left: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5B7083;    
}

.profile__main-Followers_span {
    padding-left: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #5B7083;
}

.profile__main_element3 {
    display: flex;
}

.profile__main_element1 {
    margin-bottom: 10px;
}

.profile__main_element2 {
    margin-bottom: 10px;
}