.News {
    width: 350px;
    margin: 10px 0 0 30px;
    padding: 0;
}

.News__search-bar {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    width: 348px;
    height: 39px;
    background-color: #EBEEF0;
    border-radius: 100px;
}

.News__img {
    margin: 10px 0 10px 15px;
    width: 19px;
    height: 19px;
}

.News__search {
    margin: 10px 0 10px 15px;
    padding: 5px;
    width: 200px;
    border: none;
    background-color: #EBEEF0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    outline: none;
}

.News__popular-info {
    background-color: #F7F9FA;
    width: 350px;
    min-height: 540px;
    border-radius: 15px;
}

.News__popular-title {
    display: flex;
    align-self: flex-start;
    padding: 10px 0 10px 15px;
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.News__popular-element {
    padding: 15px;
    width: 350px;
}

.News__popular-element:hover {
    background-color: #EBEEF0;
    transition: linear 0.3s;
}

.News__popular-element:last-child {
    border-radius: 0 0 10px 10px;
}

.News__popular-wrapper {
    width: 350px;
    /* max-height: 800px; */
    display: flex;
    align-self: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.News__popular_element-wrapper {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.News__title {
    color: #5B7083;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.News__popular-subtitle {
    margin: 2px 0;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}

.News__tags {
    color: #5B7083;
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
}

.News__popular_more {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 40px;
    border-radius: 0 0 10px 10px;
}

.News__popular_more:hover {
    background-color: #EBEEF0;
    transition: linear 0.3s;
}

.News__popular_more-text {
    margin-left: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1C93E4;
}
