.messages__main {
    margin: 0;
    width: 500px;
}

.messages__main_header-picture {
    border-radius: 100px;
    width: 30px;
    height: 30px;
}

.messages__main_header {
    padding: 5px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.messages__main_wrapper-wrap {
    display: flex;
    align-items: center;
}

.messages__main_header-name {
    margin: 0;
}

.messages__main_header-wrapper {
    margin-left: 10px;
}

.messages__main_header-info {
    cursor: pointer;
}

.messages__main_window {
    height: 620px;
}

.messages__main_input {
    display: flex;
    align-items: center;
    padding-top: 5px;
    width: 500px;
    border-top: 0.5px solid #EBEEF0;
}

.messages__text_input {
    border: 2px solid #EBEEF0;
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    outline: none;
    resize: none;
    width: 400px;
    padding-top: 5px;
    padding-left: 10px;
    height: 20px;
}

.messages__text_input:hover {
    border: 2px solid #1D9BF0;
}

.messages__text_input-send {
    background-image: url('../../../images/send__mess.svg');
    width: 24px;
    height: 24px;
    margin-left: 10px;
}