.friends__item_btn {
    &:hover {
        border-color: #1DA1F2;
        color: #1DA1F2;
    }

    &active {
        border-color: silver;
    }

    &unactive {
        border-color: black;
    }
}