.Nav__user_popup-wrapper {
    padding: 10px;
}

.Nav__user_popup-wrapper_wrap {
    align-items: center;
    display: flex;
    height: 50px;
    border-radius: 100px;
}

.Nav__wrapper_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Nav__user_popup-photo {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.Nav__user_popup-wrapper {
    width: 195px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 15px;
}

.Nav__user_popup-name {
    font-size: 15px;
    font-weight: 600;
    padding-left: 5px;
}

.Nav__user_popup-id {
    font-size: 15px;
    font-weight: 300;
}

.Nav__user_popup-more {
    /* margin-left: 20px; */
}

.Nav__user_main-wrapper_wrap {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}